<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Study20170609_A</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/page/error404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/page/error500.html</location>
  </error-page>
  <context-param>
    <param-name>home</param-name>
    <param-value>/login.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>main</param-name>
    <param-value>/page/main.jsp</param-value>
  </context-param>
  <servlet>
    <servlet-name>login.do</servlet-name>
    <servlet-class>org.jimmy.mvcdemo.servlet.LoginServlet</servlet-class>
    <init-param>
      <param-name>page</param-name>
      <param-value>/page/main.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>login.do</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>property.do</servlet-name>
    <servlet-class>org.jimmy.mvcdemo.servlet.PropertyServlet</servlet-class>
    <init-param>
      <param-name>page</param-name>
      <param-value>/page/property.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>property.do</servlet-name>
    <url-pattern>/property.do</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>deleteProperties.do</servlet-name>
    <servlet-class>org.jimmy.mvcdemo.servlet.DeletePropertiesServlet</servlet-class>
    <init-param>
      <param-name>page</param-name>
      <param-value>property.do</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProperties.do</servlet-name>
    <url-pattern>/deleteProperties.do</url-pattern>
  </servlet-mapping>
  <listener>
    <description>ServletContextListener</description>
    <listener-class>org.jimmy.mvc.utils.LoadProperties</listener-class>
  </listener>
  <filter>
    <filter-name>validateionLoginInfoFilter</filter-name>
    <filter-class>org.jimmy.mvc.filter.ValidateLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>validateionLoginInfoFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>