<html>
	<head>
		<meta charset="utf-8">
		<title>退出界面</title>
	</head>
	<body>
		<h1>这是一个退出的界面</h1>
		收到参数:<br>
		号码是{id}<br>
		密码是{pwd}<br>
		名称是{name}<br>
		<form action='./logout' method='post'>
			<table align='center' border="0px">
				<tr>
					<td>id:</td>
					<td><input type='text' name='id'/></td>
				</tr>
				<tr>
					<td>pwd:</td>
					<td><input type='password' name='pwd'/></td>
				</tr>
				<tr><td> </td></tr>
				<tr><td> </td></tr>
				<tr>
					<td colspan='2' align="middle"><input type='submit' value='退出'/></td>
				</tr>
			</table>
		</form>
	</body>
</html>